@using StudentApp.Services.Interfaces
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService

@inject MainLayoutViewModel Model

@using StudentApp.Components

@using StudentApp.ViewModels
@using WebAPI.Domain.Models

<style>
   
    
    

</style>

<main>
    <NavBar></NavBar>
    
    
    
    @Body
</main>

@code{
    
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var couldRefresh = await AuthenticationService.TryRefreshAsync();
            if (couldRefresh is false && NavigationManager.Uri.Contains("/login") is false)
            {
                 NavigationManager.NavigateTo("/login");
            }
            
        }
    }
}