

<div class="nav-container">
    <input type="checkbox" id="toggle-nav"/>
    <label for="toggle-nav" class="toggle-nav-button">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav class="navbar">
        <span class="logo">
            <i class="fa-solid fa-user"></i>
        </span>
        <a href="/new-session" id="first-link">
            New Session
        </a>
        <a href="/manage-sessions">
            Manage Sessions
        </a>
        <a href="/settings">
            <i class="fa-solid fa-gear"></i><span id="settings">Settings</span>
        </a>
    </nav>
</div>